.nav-title{
    position: relative;
}
.nav-title:before{
content: "";
display:block;
width: 20px;
height:2px;
background: rgb(255, 255, 255);
position: absolute;
left: -23px;
top: 50%;
}

.nav-title:after{
content: "";
display:block;
width: 20px;
height:2px;
background: rgb(255, 255, 255);
position: absolute;
right: -23px;
top: 50%;

}

.menu-item{
  color: white;
  padding: 6px 5px;
  margin: 0 20px;
}

.menu-item:hover{
  color: #563af3;
}