.banner{
    height: 100vh;
    background-color: rgb(9, 9, 9);
}
.banner-section{
    margin-top: 150px;
}

.banner-image{

box-shadow: rgb(38, 38, 38) 0px 2px 4px 0px, rgb(36, 36, 36) 0px 2px 16px 0px;
}

.banner-title{
color: #ffffff;

}

.banner-content{
    margin-top: 150px;
}

.button-title{
    color: #ffffff;
}

