.banner{
    /* height: 100vh; */
    background-color: rgb(255, 232, 245);
}
.banner-section{
    margin-top: 150px;
}

.banner-title{
color: #3A023B;
}

.button-title{
    color: #3A023B;
}

.break{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #3A023B;
    margin:auto;
    position: relative;
}

.break:before{
content: "";
display:block;
width: 200px;
height:1px;
background: #3A023B;
position: absolute;
left: 30px;
top: 50%;
}

.break:after{
content: "";
display:block;
width: 200px;
height:1px;
background: #3A023B;
position: absolute;
right: 30px;
top: 50%;
}