.banner{
    min-height: 600px;
}

.banner-image{
box-shadow: rgb(38, 38, 38) 0px 2px 4px 0px, rgb(36, 36, 36) 0px 2px 16px 0px;
margin-top: 80px;
/* width: 100%; */
}

.resume-button{
    border: 1px solid #74287b;
}
.resume-button:hover{
    background-color: #74287b;
}
.resume-button:hover .button-title{
    color: white;
}

.banner-title{
color: #74287b;
font-size: 65px;
font-weight: 600;
}

.banner-content{
    margin-top: 120px;
}

.button-title{
    color: #ffffff;
}
.particleSection{
    position: fixed;
  width: 100%;
  z-index: -1;
}


@media only screen and (max-width: 768px) {

.banner-content{
    margin-top: 20px;
}

.banner-image{
margin-top: 20px;
height: 400px;
width: 400px;

}
}
